# Public API base URL (no trailing slash)
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1

NEXT_PUBLIC_APP_TIMEZONE=Asia/Colombo
NEXT_PUBLIC_USER_APP_URL=http://localhost:3000

# Tidio live chat (same key as Laravel footer-customer)
# NEXT_PUBLIC_TIDIO_KEY=e3tkzblgnc6o2jkryjhomfcotdsnyybp
